*{
  box-sizing: border-box;
}
body{
  font-family: 'Ubuntu', sans-serif;
  background-image: url('../img/body-bg.png');
  background-repeat: repeat-x repeat-y;
  
}
a{
  text-decoration:none;
  color:white;
}
a:visited{
  color:white;
}
.wrapper{
  max-width:1170px;
  margin:0 auto;
  position:relative;
}
.btn-primary{
  padding:20px 45px;
  background-color: #fc6a42;
  border-radius:5px;
  font-weight:600;
  font-size:1.125em;
  margin-right:10px;
}
.btn-secondary{
  padding:20px 45px;
  background-color: #4466c9;
  border-radius:5px;
  font-weight:600;
  font-size:1.125em;
  margin-top:63px;
}
section h1{
  font-size: 2.25em;
  color:#648cff;
  font-weight:500;
  text-transform:uppercase;
  text-align:center;
  margin-top:130px;
}
.lead-center{
  font-size:1.125em;
  color:#999;
  text-align:center;
  margin-bottom:112px;
}

/*--------------header navigation----------------*/
#hero{
  background-color: #648cff;
  height:100vh;
  background-size:cover;
  position:relative;
}
.wave{
  position:absolute;
  bottom:0;
  max-width:100%;
}
.wave-2{
  position:absolute;
  bottom:0;
  max-width:100%;
  opacity:0.6;
}
.navigation{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  vertical-align: middle;
}
.logo{
  text-transform: uppercase;
  font-size:1.5em;
  -webkit-box-pack:start;
      -ms-flex-pack:start;
          justify-content:flex-start;
  padding-top:1em;
}
.nav-items{
  text-align:center;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 573px;
  margin:0 auto;
}
.nav-items a{
  padding:1.5em;
  font-size:1.125em;
  font-weight:300;
}
.social-icons{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top:0.5625em;
}
.social-icons a{
  padding: 1em;
}
/*--------------header hero image----------------*/
.header-container{
  position:absolute;
  z-index:1;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height:90vh;
  /*max-width:40%;*/
}

.punchline{
  font-size:3.75em;
  color:white;
  font-weight:500;
}
p.white{
  color:white;
  font-size: 1.125em;
  font-weight:300;
  line-height:1.6;
  padding-top:15px;
  margin-bottom:70px;
}
.img-hero{
  /*width:60%;*/
}
.img-hero img{
  max-width:480px;
}
.call-to-action{
  padding-right: 13%;
}
.scroll-down{
  background-color:white;
  width:50px;
  height:50px;
  border-radius: 50%;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  box-shadow: 3px 3px 40px rgba(68, 102, 201, .5);
  display:block;
}
.arrow{
  padding-top:24px;
  padding-left:20px;
}
/*--------------section-features----------------*/

.features-container, .feature-col{
  display:flex;
  align-items: flex-start;

}
.feature-description h2{
  margin-top:0;
  font-size:1.5em;
  color:#353854;
}
.feature-description{
  padding: 0 5%;
}
.feature-description p{
  font-size:1em;
  color:#aeaeae;
  line-height:1.5;
  font-weight:300;
}
