*{
  box-sizing: border-box;
}
body{
  font-family: 'Ubuntu', sans-serif;
}
a{
  text-decoration:none;
  color:white;
}
a:visited{
  color:white;
}
.wrapper{
  max-width:1170px;
  margin:0 auto;
}
/*--------------header navigation----------------*/
#hero{
  background-color: #648cff;
  height:100vh;
  background-size:cover;
  position:relative;
}
.wave{
  position:absolute;
  bottom:0;
  max-width:100%;
}
.navigation{
  display:flex;
  vertical-align: middle;
}
.logo{
  text-transform: uppercase;
  font-size:1.5em;
  justify-content:flex-start;
  padding-top:1em;
}
.nav-items{
  text-align:center;
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  max-width: 573px;
  margin:0 auto;
}
.nav-items a{
  padding:1.5em;
  font-size:1.125em;
  font-weight:300;
}
.social-icons{
  display:flex;
  justify-content: flex-end;
  margin-top:0.5625em;
}
.social-icons a{
  padding: 1em;
}
/*--------------header hero image----------------*/
