*{
  box-sizing: border-box;
}
body{
  font-family: 'Ubuntu', sans-serif;
}
a{
  text-decoration:none;
  color:white;
}
a:visited{
  color:white;
}
.wrapper{
  max-width:1170px;
  margin:0 auto;
}
/*--------------header----------------*/
#hero{
  background-color: #648cff;
  height:100vh;
  background-size:cover;
}
.navigation{
  display:flex;
  vertical-align: middle;
}
.logo{
  text-transform: uppercase;
  font-size:2em;
  justify-content:flex-start;
}
.nav-items{
  text-align:center;
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  max-width: 573px;
  margin:0 auto;
}
.social-icons{
  display:flex;
  justify-content: flex-end;
}
